form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

input,
button {
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
  width: 100%;
  border: none;
}

input {
  border: 1px solid #ccc;
}

button {
  background-color: #ff6600;
  width: 50%;
  width: fit-content;
}
