.page {
  min-height: 100vh;
  padding: 8px 7%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f6f6ef;
  height: 93vh;
  padding: 2rem;
  gap: 4rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem;
  background-color: #ff6600;
}

@media (max-width: 720px) {
  .page {
    padding: 48px 20px 60px;
  }
}
